body {
  font-family: "Karla", sans-serif;
}

/* HEADER */
.header {
  text-align: center;
}

.header-logo {
  height: 70px;
  pointer-events: none;
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: header-logo-spin infinite 10s linear;
  }
}

.header {
  background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%);
  min-height: 100px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.header-title {
  margin-right: auto;
}

.header-button {
  font-family: "Karla", sans-serif;
  font-size: x-large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 170px;
  margin-right: 20px;
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEME */
main {
  padding: 36px;
}

main--img {
  margin: 20px;
  display: flex;
  align-items: center;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  font-size: x-large;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%);
  border: none;
  cursor: pointer;
}

